{% extends "datasets/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load truncate_filter %}

{% block head_title %}System State - Overview{% endblock %}

{% block extra_head %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script> 
	<script type="text/javascript"> 
		var chart;
		$(document).ready(function() {
			chart = new Highcharts.Chart({
				chart: {
					renderTo: 'container',
					margin: [50, 200, 60, 170]
				},
				title: {
					text: 'Total Disk Space Usage, MB'
				},
				plotArea: {
					shadow: null,
					borderWidth: null,
					backgroundColor: null
				},
				tooltip: {
					formatter: function() {
						return '<b>'+ this.point.name +'</b>: '+ this.y +' %';
					}
				},
				plotOptions: {
					pie: {
						allowPointSelect: true,
						dataLabels: {
							enabled: true,
							formatter: function() {
								if (this.y > 5) return this.point.name;
							},
							color: 'white',
							style: {
								font: '13px Trebuchet MS, Verdana, sans-serif'
							}
						}
					}
				},
				legend: {
					layout: 'vertical',
					style: {
						left: 'auto',
						bottom: 'auto',
						right: '50px',
						top: '100px'
					}
				},
			        series: [{
					type: 'pie',
					name: 'Disk space',
					data: [
						['Firefox',   44.2],
						['IE7',       26.6],
						{
							name: 'IE6',
							y: 20,
							sliced: true,
							selected: true
						},
						['Chrome',    3.1],
						['Safari',    2.7],
						['Opera',     2.3],
						['Mozilla',   0.4]
					]
					//data: [3.40, 1.05, 2.90, 1.65, 1.35, 2.59, 1.39, 3.07, 2.82]
				}]
			});
			
			
		});
		</script> 
		
	<script type="text/javascript" src="{{ STATIC_URL }}js/highslide-full.min.js"></script> 
	<script type="text/javascript" src="{{ STATIC_URL }}js/highslide.config.js" charset="utf-8"></script> 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/highslide.css" /> 

{% endblock %}

{% block body %}

    {% if user.is_authenticated and user.is_staff %}
    <div class="left_panel">
        <div class="photo-title">
            <h2>System State Overview</h2>
        </div>
        <div>
            <p><b>Total USERS: </b>{{ user_count }}</p>
            <p><b>Total PROJECTS: </b>{{ project_count }}</p>
            <p><b>Total EXPERIMENTS: </b>{{ experiment_count }}</p>
            <p><b>Total DATASETS: </b>{{ dataset_count }}</p>
            <p><b>Total FILES: </b>{{ file_count }}</p>
        </div>

	<div id="container" style="width: 800px; height: 400px; margin: 0 auto"></div>
    {% endif %}

{% endblock %}

