{% extends "site_base.html" %}

{% load i18n %}
{% load group_tags %}

{% block body_class %}datafiles{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% groupurl datafile_create group %}">{% trans "Upload a File" %}</a></li>
            <li><a href="{% groupurl your_datasets group %} ">{% trans "Your Datasets" %}</a></li>
            <li><a href="{% groupurl your_datafiles group %} ">{% trans "Your Files" %}</a></li>
            <li><a href="{% groupurl datafiles_all group %}">{% trans "Search Shared" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
