/* ---------- file: tree.less ---------- */

.wdat-tree {

  .tree-node .tree-node { margin-left: 20px; }
  .collapsed .tree-node { display: none; }

  .wdat-container {
    cursor: pointer;
    .buttons { display: none; }
  }

  .wdat-container:HOVER  {
    .rounded;
    background: @light-grey !important;
    .buttons { display: block !important; }
  }

  button { margin-right: @smallcushion / 4; }

  .selected {
    .rounded;
    background: @light-blue;
  }

  .node-icon, .node-name {
    padding: @smallcushion;
  }

  .node-icon {
    float: left;
    background-image: url(/site_media/static/tni-open.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }

  .collapsed .node-icon { background-image: url(/site_media/static/tni-closed.png); }

  .leaf-node .node-icon { background-image: url(/site_media/static/tni-leaf.png); }

  .node-icon:HOVER { background-image: url(/site_media/static/tni-hover-open.png); }

  .collapsed .node-icon:HOVER { background-image: url(/site_media/static/tni-hover-closed.png); }

  .leaf-node .node-icon:HOVER { background-image: url(/site_media/static/tni-hover-leaf.png); }

}

