{% extends "datafiles/base.html" %}

{% load i18n %}
{% load uni_form %}
{% load pagination_tags %}
{% load extra_tagging_tags %}
{% load truncate_filter %}

{% block head_title %}{{ datafile.title }}{% endblock %}

{% block extra_head %}
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shCore.css"/> 
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shThemeDefault.css"/>
	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/shTreeDemo.css"/>  
{% endblock %}

{% block body %}
    
    {% if datafile %}

        {% ifequal datafile.owner request.user %}
            <div class="right_panel">
                <div class="friends">
                    {% if datafile.is_Public %}
                    <h2>{% trans "Privacy" %}</h2>
                    <p>This File is <b style="color: red">Public</b> and available for other users. Members of this site may download this file.</p>
                    {% else %}
                    <h2>{% trans "Shared with:" %}</h2>
                        {% if datafile.is_Friendly %}
                            <p>All people you know
                            {% if datafile.shared_with.all %}
                            , and </p>
                                {% for exp_member in datafile.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                .</p>
                            {% endif %}
                        {% else %}
                            {% if datafile.shared_with.all %}
                                {% for exp_member in datafile.shared_with.all %}
                                        <span><a href="{% url profile_detail exp_member.username %}" title="{{ exp_member.username }}">{{ exp_member.username }}</a>, </span>
                                {% endfor %}
                            {% else %}
                                <p><b>Nobody</b>. Only YOU can see this File.</p>
                            {% endif %}
                        {% endif %}
                        <p>Please note, it's always ONLY YOUR exclusive right to MANAGE your files, changing its properties and privacy settings.</p>
                    {% endif %}
                </div>
            
                {% if objs %}
                <div class="friends">
                    <h2>{% trans "Linked to" %}</h2>
                    <table width="100%">
                        {% for obj in objs %}
                            <tr><td>- <a href="{{ obj.get_absolute_url }}">{{ obj.title|truncate_dot:26|escape }}</a></td></tr>
                        {% endfor %}
                    </table>                    
                </div>
                {% endif%}
                
            </div>
        {% endifequal %}
    
    <div class="left_panel">
        <div class="photo-title">
            <h2>File: {{ datafile.title }} {% if not datafile.isActive %}(DELETED){% endif %}</h2>
        </div>
        <div class="photo-caption">
            <p><b>Description: </b>{{ datafile.caption }}</p>
        </div>
        <div>
            {% ifnotequal datafile.owner request.user%}
            <b>Owner: </b>
            <a href="{% url profile_detail datafile.owner.username %}">{{ datafile.owner.username }}</a>
            {% endifnotequal %}
        </div>
        <div>
            {% show_tags_for datafile %}
        </div>
        
        {% ifequal request.user datafile.owner %}
            {% with datafile_form as edit_form %}
                {% include "state_machine/edit_details.html" %}
            {% endwith %}

            {% with privacy_form as privacy_form %}
                {% include "state_machine/edit_privacy.html" %}
            {% endwith %}
        {% endifequal %}
        <p>You may <a href="{{ datafile.raw_file.url }}">Download</a> {% ifequal request.user datafile.owner %}your{% else %}this{% endifequal %} File.
        

        {% if datafile.hasMetadata %}
        <h2>{% trans "Metadata" %}</h2>

        {% with datafile as tree_container %}
        {% ifequal request.user datafile.owner %}
            {% comment %} PAPA is used to indicate which metadata buttons to render, 
                    depending on object type {% endcomment %}
            {% with "datafile" as papa %}
                {% include "metadata/section_buttons.html" %}
            {% endwith %}
            <div id="form-add-section" style="padding: 0; margin: 0; display:none">
                {% include "metadata/section_add.html" %}
                <div id="default_properties_area" style="height: 209px; width: 500px; padding-left: 10px; overflow: auto;">
                    {% include "metadata/properties_list.html" %}
                </div>
            </div>
        {% endifequal %}

        <div style="padding: 6px 0px 0px 0px; margin: 0;">
                {% include "metadata/sections_tree.html" %}
            <div id="properties_area" style="width: 515px; padding-left: 210px">
                {% include "metadata/properties_list.html" %}
            </div>
        </div>
        {% endwith %}

        {% else %}
        {% ifequal request.user datafile.owner %}
        <p>You don't have metadata assigned to this file. You may start annotating your dataset by <a href="#" onclick="add_root_section({{ datafile.id }}, 5)">adding the Metadata</a>. In order to describe the file structure (sampling rates, number of electrodes, channels etc. with location / offsets in the file) it's better to use <a href="http://signalml.org/" target="blank">SignalML</a> technology.</p>
        {% endifequal %}
        {% endif %}
            
        </div>

    {% else %}
    <p>There is no data about this file.</p>
    {% endif %}

{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/clear_selection.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_root_section.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_details_privacy.js"></script>

    {% if datafile.hasMetadata %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/delete_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_property.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hide_metadata_forms.js"></script>
    {% with datafile as tree_container %}
        {% include "metadata/load_meta_tree.html" %}
    {% endwith %}
    <script type="text/javascript">
        $(document.getElementById("sections")).ready(function() {
        // 3 - Section
            load_meta_tree(3);
            load_default_meta_tree(3);
            $('#add-property-toggle').click(function() {
                hide_metadata_forms("add-property");
                $('#add-property').toggle();
                return false;
            });
            if ($('#add-property .error').length) {
                $('#add-property').show();
                $('#add-property .error').autoscroll();
            };
            $('#link-timeseries-toggle').click(function() {
                hide_metadata_forms("add-timeseries");
                $('#add-timeseries').toggle();
                return false;
            });
        });
    </script>
    {% endif %}
{% endblock %}
