{% extends "datafiles/base.html" %}

{% load i18n %}
{% load uni_form %}

{% block head_title %}{% blocktrans %}New file upload{% endblocktrans %}{% endblock %}
{% block subnavi1_class %}aktiv{% endblock %}

{% block body %}
    <h1>{% trans "Upload a File" %}</h1>

    <p>{% trans "A <b>File</b> is typically a raw data file, recorded within a series of experiments. You can assign some experimental metadata to it. After the upload you may attach this file to some of your experiments." %}</p>
    {% if user.is_authenticated %}

    <div id="upload_btn"></div>

    <form id="upload_form" method="POST" enctype="multipart/form-data" action="" class="uniForm">
        <fieldset class="inlineLabels">
            {{ datafile_form|as_uni_form }}
            <div class="form_block">
                <input type="hidden" name="action_1" value="upload" />
                <input type="submit" value="{% trans 'upload' %}" />
            </div>
        </fieldset>
    </form>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to upload and share your own files.{% endblocktrans %}</p>
    {% endif %}

    <div id="progress_container">
        <div id="progress_filename"></div>
        <div id="progress_bar">
            <div id="progress_indicator"></div>
        </div>
    </div>

{% endblock %}

{% block js %}
        <link href="{{ MEDIA_URL }}css/upload.css" rel="stylesheet" type="text/css" />

        <script charset="utf-8" type="text/javascript">
        //<![CDATA[
 
        $(document).ready(function() 
                {
                        $(function() {
                                $('#upload_form').uploadProgress({
                                        jqueryPath: "{{ MEDIA_URL }}js/jquery.js",
                                        progressBar: '#progress_indicator',
                                        progressUrl: '{% url datafiles.views.upload_progress %}',
                                        start: function() {
                                                $("#upload_form").hide();
                                                filename = $("#id_raw_file").val().split(/[\/\\]/).pop();
                                                $("#progress_filename").html('Uploading ' + filename + "...");
                                                $("#progress_container").show();
                                        },
                                        uploadProgressPath: "{{ MEDIA_URL }}js/jquery.uploadProgress.js",
                                        uploading: function(upload) {
                                                if (upload.percents == 100) {
                                                        window.clearTimeout(this.timer);
                                                        $("#progress_filename").html('Processing ' + filename + "...");
                                                } else {
                                                        $("#progress_filename").html('Uploading ' + filename + ': ' + upload.percents + '%');
                                                }
                                        },
                                        interval: 1000
                                });
                        });
                }
        );
        //]]>
        </script>
{% endblock %}
