/*---------- container.less ----------*/

/*
 * Styles for ui/container.js
 */
.clickable {
  cursor: pointer;
  border: 0;
  .rounded;
}

.wdat-container {
  padding: @smallcushion;
  background-color: @bg;
  margin: @smallcushion / 2;
  .border-std-round;

  .buttons {
    float: right;
    height: 20px;
    vertical-align: middle;
    display: none;
  }

  .primary {
    height: 20px;
    overflow: hidden;

    .head {
      vertical-align: middle;
      /*font-size: @mediumFontSize;*/
    }

    .head-add {
      vertical-align: middle;
      color: @fg-grey;
      margin-left: @smallcushion;
    }
  }

  hr {
    width: auto;
    margin: @smallcushion;
    color: #d3d3d3;
    border: 1px inset #d3d3d3;
  }

  h3 {
    font-size: @mediumFontSize;
    padding: 0;
    margin: @smallcushion;
  }

  .properties {
    display: table;
    padding:  0  @cushioning * 2;

    .field {
      display: table-row;
    }

    .field-name {
      display: table-cell;
      font-weight: bold;
      min-width: 100px;
      padding:  @smallcushion / 2  @smallcushion;
    }

    .field-val {
      display: table-cell;
      overflow: hidden;
      padding:  @smallcushion / 2  @smallcushion;
    }
  }

}


.wdat-container:HOVER {
  background: @bg-grey !important;

  .buttons {
    display: block !important;
  }
}
