/*---------- container.less ----------*/

/*
 * Styles for ui/container.js
 */
.wdat-container {
  padding: @smallcushion;
  background-color: @bg;

  .buttons {
    float: right;
    height: 20px;
    vertical-align: middle;
  }

  .primary {
    height: 20px;
    vertical-align: middle;
    overflow: hidden;

    .head {
      font-size: @mediumFontSize;
    }

    .head-add {
      color: @fg-grey;
      margin-left: @smallcushion;
    }
  }

  .secondary {
    padding-top: @cushioning;
    margin: 0;

    dt {
      display: block;
      float: left;
      font-weight: bold;
      margin: 0;
      padding: @smallcushion / 2 @smallcushion;
    }

    dd {
      display: block;
      margin: 0;
      padding: @smallcushion / 2  @smallcushion;
    }
  }

}
