/*---------- search_bar.less ---------*/

.wdat-search {

  display: table;
  width: 100%;

  div {
    display: table-row;


    .search-right {
      display: table-cell;
      padding: @smallcushion;
      margin: @smallcushion;
      vertical-align: middle;
      width: 230px;
    }

    .search-left {
      display: table-cell;
      padding: @smallcushion;
      margin: @smallcushion;
      vertical-align: middle;
    }

    input, select, button {
      display: inline-block;
      margin: @smallcushion;
    }

    select {
      height: 25px;
      width: 135px;
    }

    input {
      height: 14px;
      width: 95%;
    }

    select[disabled], input[disabled], button[disabled] {
      color: @light-grey;
    }
  }

}
