/*---------- search_bar.less ---------*/

.wdat-search {

  display: table;

  .top-row, .bottom-row {
    display: table-row;
  }

  .search-field, .activate-btn {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    textarea { width: 100%; }
    input { margin: 8px 4px 0px 0px;}
  }

  .search-btn, .compose-btn {
    display: table-cell;
    vertical-align: middle;
    width: 90;
    button { margin-left: @cushioning; }
  }

  .search-field, .search-btn { padding: @cushioning @smallcushion 0 @smallcushion; }

  .activate-btn, .compose-btn { padding: 0 @smallcushion @cushioning @smallcushion; }
}
