{% extends "datasets/base.html" %}

{% load i18n %}
{% load humanize %}
{% load uni_form %}
{% load pagination_tags %}
{% load truncate_filter %}
{% load tagging_tags %}
{% load extra_tagging_tags %}

{% block head_title %}{% blocktrans %}My Time Series data{% endblocktrans %}{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
<script type="text/javascript">
   $(document).ready(function() {
   var chart;
   chart = new Highcharts.Chart({
   chart: {
      renderTo: 'container',
      zoomType: 'x'
   },
        title: {
      text: 'my time series'
   },
        subtitle: {
      text: 'Click and drag in the plot area to zoom in'
   },
   xAxis: {
      type: 'datetime',
      maxZoom: 2 * {{ t_serie.getTimeStep }}, 
      title: {
         text: null
      }
   },
   yAxis: {
      title: {
         text: 'Voltage'
      },
      //min: 0.6,
      startOnTick: false,
      showFirstLabel: false
   },
   tooltip: {
      formatter: function() {
         return '<b>'+ (this.point.name || this.series.name) +'</b><br>'+
            Highcharts.dateFormat('%A %B %e %Y', this.x) + ':<br>'+
            'V(t) = '+ Highcharts.numberFormat(this.y, 2) +' mV';
      }
   },
   legend: {
      enabled: false
   },
   plotOptions: {
      area: {
         fillColor: {
            linearGradient: [0, 0, 0, 300],
            stops: [
               [0, 'rgba(255,255,0,0)'],
               [1, 'rgba(0,0,0,0)']
            ]
         },
         lineWidth: 1,
         marker: {
            enabled: false,
            states: {
               hover: {
                  enabled: true,
                  radius: 3
               }
            }
         },
         shadow: false,
         states: {
            hover: {
               lineWidth: 1                  
            }
         }
      }
   },

   series: [{
      type: 'area',
      name: 'Voltage dynamics, V(t)',
      pointInterval: {{ t_serie.getTimeStep }},
      pointStart: Date.UTC({{ t_serie.start_time|date:"Y, m, d" }}),
      data: [
        {{ t_serie.getData }}
      ]
   }]
})
});
</script>
{% endblock %}

{% block body %}

    {% if timeseries %}

        <div class="right_panel">
            <div class="friends">
                <h2>{% trans "From Experiments" %}</h2>
                <p>Select an experiment to browse time series data, associated with it. Or push <a href="{% url timeseries_main %}">"View all"</a> to browse all your recorded time series.</p>
                <p>HERE GOES THE TABLE WITH EXPERIMENTS</p>
            </div>

            <div class="friends">
                <h2>{% trans "Time Series" %}</h2>
        	        <form id="delete-exprts" method="POST" action="">
                    {% autopaginate timeseries 15 %}
                    <table width="100%">
                        {% for tserie in timeseries %}
                            <tr>
                                <td>- <a href="{{ tserie.get_absolute_url }}">{{ tserie.title|truncate_dot:26|escape }}</a></td>
				                {% ifequal user tserie.owner %}
				                <td align=right><input id="id_serie_choices_{{ tserie.id }}" type="checkbox" value="{{ tserie.id }}" name="serie_choices"/></td>
				                {% endifequal %}
                            </tr>
                        {% endfor %}
                    </table>    
		            {% ifequal user t_serie.owner %}
			            <input type="hidden" name="action" value="timeseries_delete"/>
			            <input type="submit" value="delete selected"/>
		            {% endifequal %}

                	{% paginate %}
                    </form>
            </div>
        </div>

        <div class="left_panel">

            <div class="form-toggle">
                <p>
                    <span id="add-timeseries-toggle" onclick="$('#edit-timeseries').hide(); $('#add-timeseries').toggle();">{% trans "Add Time Series" %}</span>
                    <span id="edit-timeseries-toggle" onclick="$('#add-timeseries').hide(); $('#edit-timeseries').toggle();">{% trans "Edit Properties" %}</span>
                </p>

                <div id="form-add-timeseries">
                    <form class="uniForm" id="add-timeseries" method="POST" action="" style="display:{{ tserie_add_form_status }}">
                        <fieldset class="inlineLabels">
                            {{ tserie_add_form|as_uni_form }}
                            <div class="form_block">
                                <input type="hidden" name="action" value="timeseries_add" />
                                <input type="submit" value="create"/>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div id="form-edit-timeseries">
                    <form class="uniForm" id="edit-timeseries" method="POST" action="" style="display:{{ tserie_edit_form_status }}">
                        <fieldset class="inlineLabels">
                            {{ tserie_edit_form|as_uni_form }}
                            <div class="form_block">
                                <input type="hidden" name="action" value="timeseries_update" />
                                <input type="submit" value="update"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>         

            <div class="photo-title">
                <h2>{{ t_serie.title }} {% if not t_serie.isActive %}(DELETED){% endif %}</h2>
            </div>
            <div class="photo-caption">
                <p><b>Description: </b>{{ t_serie.description }}</p>
            </div>
            <div>
                <p><b>Date created: </b>{{ t_serie.date_created }}</p>
            </div>
            <div>
                {% ifnotequal t_serie.owner request.user%}
                <b>Owner: </b>
                <a href="{% url profile_detail t_serie.owner.username %}">{{ t_serie.owner.username }}</a>
                {% endifnotequal %}
            </div>
            <div>
                {% show_tags_for t_serie %}
            </div>

            <div id="container" style="width: 550px; height: 300px; margin: 0 auto"></div>


            {% ifequal request.user t_serie.owner %}
             
            {% endifequal %}
        </div>
    
        {% comment %}
        <h2>{% trans "Metadata" %}</h2>

                {% include "metadata/section_buttons.html" %}


            <div style="height: 300px; padding: 0; margin: 0;">
                {% include "metadata/sections_tree.html" %}
                <div id="properties_area" style="height: 300px; width: 580px; padding-left: 210px">
                    {% include "metadata/properties_list.html" %}
                </div>
            </div>

        {% endcomment %}
   
    {% else %}
        <p>You don't have any timeseries data uploaded. Try by <a href="#" onclick="$('#add-timeseries').toggle();">uploading new time series</a> data now, or <a href="{% url datafile_create %}">upload data</a> in files.</p>
            <div class="form-toggle">
                <div id="form-add-timeseries">
                    <form class="uniForm" id="add-timeseries" method="POST" action="" style="display:none">
                        <fieldset class="inlineLabels">
                            {{ tserie_add_form|as_uni_form }}
                            <div class="form_block">
                                <input type="hidden" name="action" value="timeseries_add" />
                                <input type="submit" value="create"/>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
    {% endif %}
    
{% endblock %}

{% block extra_body %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/delete_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit_property.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/add_metadata_items.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/load_meta_tree.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/clear_selection.js"></script>

    <script type="text/javascript">
        $(document.getElementById("sections")).ready(function() {
        // do stuff when div is ready
            load_meta_tree();
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#edit-experiment-toggle').click(function() {
                $('#edit-experiment').toggle();
                $('#edit-experiment').autoscroll();
                return false;
            });
            if ($('#edit-experiment .error').length) {
                $('#edit-experiment').show();
                $('#edit-experiment .error').autoscroll();
            }
            $('#change-privacy-toggle').click(function() {
                $('#change-privacy').toggle();
                $('#change-privacy').autoscroll();
                return false;
            });
            if ($('#change-privacy .error').length) {
                $('#change-privacy').show();
                $('#change-privacy .error').autoscroll();
            }
            $('#add-property-toggle').click(function() {
                $('#add-property').toggle();
                //$('#add-property').autoscroll();
                return false;
            });
            if ($('#add-property .error').length) {
                $('#add-property').show();
                $('#add-property .error').autoscroll();
            }
            $('#add-dataset-toggle').click(function() {
                $('#add-dataset').toggle();
                $('#add-dataset').autoscroll();
                return false;
            });
            if ($('#add-dataset .error').length) {
                $('#add-dataset').show();
                $('#add-dataset .error').autoscroll();
            }
            $('#add-datafile-toggle').click(function() {
                $('#add-datafile').toggle();
                $('#add-datafile').autoscroll();
                return false;
            });
            if ($('#add-datafile .error').length) {
                $('#add-datafile').show();
                $('#add-datafile .error').autoscroll();
            }
        });
	function unselectAll() {
		var obj = document.getElementById("id_shared_with");
		for (var loop=0; loop < obj.options.length; loop++) {
		obj.options[loop].selected = false;
		}
	};

    </script>
{% endblock %}
