/*---------- application.less -----------*/

div.head, div.nav {
  border: 1px solid black;
}

.head {
  height: 100px;
  margin: @cushioning;
}

.nav {
  height: 32px;
  margin: @cushioning;
  .nav-buttons {
    margin: auto;
  }
}

.main {

  margin: @cushioning;

  div {
    text-align: left;
  }

  .left {
    float: left;
    width: 240px;
    min-height: 200px; /* remove?*/
  }

  .right {
    float: right;
    width: 240px;
    min-height: 200px; /* remove?*/
  }

  .center {
    min-height: 200px; /* remove?*/
    margin: 0 240px + @cushioning;
  }

  /* MOVE THE FOLLOWING DEFINITIONS TO OTHER FILES*/


  #sel-data-view {
    margin-top: @cushioning;
  }

  #data-list, #main-content {
    margin: @cushioning 0;
  }
}

/* Override some settings of the global template */

#footer {
  margin: 0px auto 0px auto;
  height: auto;
}

#content {
  padding: 0;
}

.contentseite {
  width: 928px !important;
}
