/*---------- search_view.less ----------*/

.wdat-search-view {
  height: 109px;
  background-color: @bg;

  h1 {
    border: 1px solid grey;
    border-bottom: 0;
    padding: @cushioning;
    font-size: @largeFontSize;
    margin: 0;
  }

  .wdat-search {
    border: 1px solid grey;
  }
}
