{% load i18n %}

{% if section %}
    {% if section.hasChild %}
    {% if section.getActiveProperties %}
        <h3 style="margin:0; padding: 10px 10px 10px 0px">{% trans "Properties" %}</h3>
        <table class="messages">
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th><th>{% trans "Description" %}</th><th>{% trans "Comment" %}</th><th>{% trans "Created" %}</th>
                    {% ifequal section.get_owner request.user %}
                    <th>{% trans "Action" %}</th>
                    {% endifequal %}
                </tr>
            </thead>
            <tbody>
                {% for property in section.getActiveProperties %}
                    <tr>
                        <td><a href="#">{{ property.prop_title }}</a></td>
                        <td>{{ property.prop_value }}</td>
                        <td>{{ property.prop_description }}</td>
                        <td>{{ property.prop_comment }}</td>
                        <td>{{ property.prop_date_created|date:_("DATETIME_FORMAT") }}</td>
                        {% ifequal section.get_owner request.user %}
                            <td><nobr><a href="#" onclick="edit_property({{ property.id }}, 'get')">{% trans "edit" %}</a> <a 
                                href="#" onclick="delete_property({{ property.id }})">{% trans "delete" %}</a></nobr></td>
                        {% endifequal %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if section.getActiveDatasets %}
        <h3 style="margin:0; padding: 10px 10px 10px 0px">{% trans "Datasets" %}</h3>
        <table class="messages">
            <thead>
                <tr><th>{% trans "Title" %}</th><th>{% trans "Date recorded" %}</th>
                    {% ifequal section.get_owner request.user %}
                    <th>{% trans "Action" %}</th>
                    {% endifequal %}
                </tr>
            </thead>
            <tbody>
                {% for dataset in section.getActiveDatasets %}
                    <tr>
                        <td><a href="{{ dataset.get_absolute_url }}">{{ dataset.title }}</a></td>
                        <td>{{ dataset.date_added }}</td>
                        {% ifequal dataset.owner request.user %}
                            <td><nobr><a href="#" onclick="remove_dataset({{ section.id }}, {{ dataset.id }})">{% trans "remove" %}</a></nobr></td>
                        {% endifequal %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>No datasets are linked to this section.</p>
    {% endif %}





    {% else %}
        <span><br>No properties, files or time series found in this section.<br> You may add new properties, link datasets, files or time series records using the navigation above.</span>
    {% endif %}
{% endif %}
