{% load i18n %}

{% if section %}
        <table class="messages">
            <thead>
                <tr><th>{% trans "Name" %}</th><th>{% trans "Value" %}</th><th>{% trans "Description" %}</th><th>{% trans "Comment" %}</th><th>{% trans "Created" %}</th>
                    {% ifequal section.get_owner request.user %}
                    <th>{% trans "Action" %}</th>
                    {% endifequal %}
                </tr>
            </thead>
            <tbody>
                {% for property in section.property_set.all %}
                    <tr>
                        <td><a href="#">{{ property.prop_title }}</a></td>
                        <td>{{ property.prop_value }}</td>
                        <td>{{ property.prop_description }}</td>
                        <td>{{ property.prop_comment }}</td>
                        <td>{{ property.prop_date_created|date:_("DATETIME_FORMAT") }}</td>
                        {% ifequal section.get_owner request.user %}
                            <td><nobr><a href="{% url property_edit property.id %}" rel="facebox">{% trans "edit" %}</a> <a href="{% url property_delete property.id %}">{% trans "delete" %}</a></nobr></td>
                        {% endifequal %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}
