svg {
  border: 1px solid black;
}
svg .context {
  fill: none;
  cursor: default;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}
svg .axis text {
  stroke: none;
  fill: black;
  font-family: sans-serif;
  font-size: 11px;
}
svg .brush .extent {
  stroke: blue;
  stroke-opacity: 0.3;
  fill: blue;
  fill-opacity: 0.1;
  shape-rendering: crispEdges;
}
svg .signal {
  fill: none;
  stroke-width: 2px;
}
