/* ---------- file: button.css -----------*/
button {
  font-size:0.9em;
  font-family: 'Lato', helvetica, sans-serif;
  font-weight: mormal;
  text-decoration: none;
  margin: 0px;
  border: 1px solid #555555;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}
/* Mozilla specific to remove browser inconsistencies */ 
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.button {
  border: 0px inset #000000 !important;
  border-radius: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 6px;
  padding-right: 6px;
  color: #3b3b3b;
  background-color: #dddddd;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background-image: -webkit-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background-image: -ms-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background-image: -o-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
}
button.button:hover {
  color: #ebebeb;
  background-color: #3e89de;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb);
  background-image: -moz-linear-gradient(top, #3e89de 0%, #1a63b8 100%);
  background-image: -webkit-linear-gradient(top, #3e89de 0%, #1a63b8 100%);
  background-image: -ms-linear-gradient(top, #3e89de 0%, #1a63b8 100%);
  background-image: linear-gradient(top, #3e89de 0%, #1a63b8 100%);
  background-image: -o-linear-gradient(top, #3e89de 0%, #1a63b8 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #3e89de), color-stop(100%, #1a63b8));
}
button.button-green:hover {
  color: #ebebeb;
  background-color: #5ad638;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb);
  background-image: -moz-linear-gradient(top, #5ad638 0%, #21851d 100%);
  background-image: -webkit-linear-gradient(top, #5ad638 0%, #21851d 100%);
  background-image: -ms-linear-gradient(top, #5ad638 0%, #21851d 100%);
  background-image: linear-gradient(top, #5ad638 0%, #21851d 100%);
  background-image: -o-linear-gradient(top, #5ad638 0%, #21851d 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #5ad638), color-stop(100%, #21851d));
}
button.button-red:hover {
  color: #ebebeb;
  background-color: #ff4040;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb);
  background-image: -moz-linear-gradient(top, #ff4040 0%, #b80000 100%);
  background-image: -webkit-linear-gradient(top, #ff4040 0%, #b80000 100%);
  background-image: -ms-linear-gradient(top, #ff4040 0%, #b80000 100%);
  background-image: linear-gradient(top, #ff4040 0%, #b80000 100%);
  background-image: -o-linear-gradient(top, #ff4040 0%, #b80000 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #ff4040), color-stop(100%, #b80000));
}
/*button.active {
  color: #ffffff;
  background-color: #888888;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, startColorstr=#dddddd, endColorstr=#bbbbbb);
  background-image: -moz-linear-gradient(top, #888888 0%, #bbbbbb 100%);
  background-image: -webkit-linear-gradient(top, #888888 0%, #bbbbbb 100%);
  background-image: -ms-linear-gradient(top, #888888 0%, #bbbbbb 100%);
  background-image: linear-gradient(top, #888888 0%, #bbbbbb 100%);
  background-image: -o-linear-gradient(top, #888888 0%, #bbbbbb 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #888888), color-stop(100%, #bbbbbb));
  text-decoration: none;
  border: 0px inset #bbbbbb !important;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
  border-radius: 3px;
  display: inline-block;
}*/
