@image-root: 'static'; /* Absolute URL. No leading or trailing slash */
@calendar-image: "@{image-root}/icon-calendar.png";
@close-image: "@{image-root}/light-grey-x.png";

.datepicker-container {
  display: inline-block;

  border: 1px solid @bordercolor;
  border-radius: @borderradius;

  color: @darker-grey;

  a.calendar {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: @smallcushion;
    float: right;
    background: url('/@{calendar-image}');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
  }
  a.calendar:hover {
    opacity: 1;
  }

  .datepicker-target {
    display: inline-block;
    height: 16px;
    width: 140px;
    border: 0px none;
    color: @darker-grey;
    padding: @smallcushion;
  }
}

div.datepicker {
  height: 280px;
  border: 1px solid @bordercolor;

  position: absolute;
  display: inline-block;

  background-color: @white;
  vertical-align: top;

  .common {
    width: 140px;
    vertical-align: top;
    height: 100%;
    display: inline-block;
    background-color: @near-white;

    ul {
      margin: 0px;
      padding: 0px;
    }

    li.option {
      display: block;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      padding-left: 1em;
      list-style-type: none;
      color: @dark-grey;
      font-size: 1.0em;
    }
    
    li.option:hover {
      cursor: pointer;
      background-color: @light-blue;
      .vertical-gradient(@light-blue, @blue);
      color: @white;
      .light-text-shadow;
    }

    li.specific_pointer {
      list-style-type: none;
      display: block;
      margin-top: 1.4em;
      color: @dark-grey;
      font-size: 1.0em;

      padding-top: 0.2em;
      padding-bottom: 0.2em;
      padding-left: 1em;

      background-color: @white;

      border-top: 1px solid @bordercolor;
      border-bottom: 1px solid @bordercolor;
    }
  }

  .specific {
    vertical-align: top;
    text-align: right;
    width: 60%;
    height: 100%;
    display: inline-block;
    background-color: @white;

    a.close {
      display: inline-block;
      margin-top: 0.4em;
      margin-right: 0.4em;
      width: 15px;
      height: 15px;

      background-image: url('/@{close-image}');
      background-position: right;
      background-repeat: no-repeat;
      opacity: 0.5;
    }

    a.close:hover {
      opacity: 0.9;
    }

/* Although the finalizing buttons come after the jdpicker, having styles for
 * the finalizing buttons here makes things simpler.
 */
    button.blue {
      margin-top: 1em;
    }
  }
}


.jdpicker_w .date_selector * {
  width: auto;
  height: auto;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  font-size: 0.95em;
}
.jdpicker_w .date_selector {
  background: transparent;
  padding: @smallcushion;
  position: absolute;
  z-index: 100000;
  display: none;
}

.jdpicker_w .date_selector table{
  width:210px;
  border-spacing: 1px; 
  border-collapse: collapse;
}

.jdpicker_w .date_clearer{
  color: #a00;
  padding-left:3px;
  cursor:pointer;
  font-weight:bold;
  font-family:sans-serif
}

.jdpicker_w .date_selector_ieframe {
  position: absolute;
  z-index: 99999;
  display: none;
}

.jdpicker_w .error_msg{
  display:none;
  text-align:center;
  font-size:0.8em;
  color:#666
}

.jdpicker_w .date_selector .nav {
  width: 17.5em; /* 7 * 2.5em */
}
.jdpicker_w .date_selector .month_nav, .jdpicker_w .date_selector .year_nav {
  margin: 0 0 3px 0;
  padding: 0;
  display: block;
  position: relative;
  text-align: center;
}
.jdpicker_w .date_selector .month_nav {
  float: left;
  width: 56%;
}
.jdpicker_w .date_selector .year_nav {
  float: right;
  width: 37%;
  position:relative;
}

.jdpicker_w .date_selector .month_nav select {
  width:75px;
  margin: 0 auto;
  border:1px solid #ccc;
  position:relative;
  top:1px
}

.jdpicker_w .date_selector .year_nav .year_input {
  text-align:center;
  width:36px;
  border:1px solid #ccc;
  position:relative;
  top:2px
}  

.jdpicker_w .date_selector .month_name, .jdpicker_w .date_selector .year_name {
  font-weight: bold;
  line-height: 20px;
}
.jdpicker_w .date_selector .button {
  display: block;
  position: absolute;
  top: 0;
  width: 18px;
  height: 18px;
  line-height: 17px;
  font-weight: bold;
  color: #333;
  text-align: center;
  font-size: 120%;
  overflow: hidden;
  border: 1px solid @bordercolor;
  border-radius: @borderradius;
  cursor:pointer;
}

.jdpicker_w .date_selector .button:hover, .jdpicker_w .date_selector .button.hover {
  background: none;
  color: #333;
  cursor: pointer;
  border-color: @light-blue;
}

.jdpicker_w .date_selector .prev {
  left: 0;
}
.jdpicker_w .date_selector .next {
  right: 0;
}

.jdpicker_w .date_selector table {
  margin:0 auto;
  border-spacing: 1px;
  border-collapse: separate;

  clear: both;
}
.jdpicker_w .date_selector th{
  padding-top:5px
}

.jdpicker_w .date_selector th, .jdpicker_w .date_selector td {
  text-align: center;
  color: @darker-grey;
}

.jdpicker_w .date_selector th.week_label{
  font-weight:normal;
  font-style:italic;
  font-size:80%;
  width:25px
}

.jdpicker_w .date_selector .week_num, .jdpicker_w .date_selector .hover .week_num, .jdpicker_w .date_selector .selected .week_num{
  font-style:italic;
  color:#333 !important;
  vertical-align:bottom !important;
  text-align:right;
  border:none !important;
  font-size:70%;
  background:#FCFCFC !important;
  padding-right:4px;
}

.jdpicker_w .date_selector td {
  border-radius: @borderradius;
  line-height: 2em;
  text-align: center;
  white-space: nowrap;
  color: #003C78;
  background: white;
}
.jdpicker_w .date_selector td.today {
  background: #FFFEB3;
}
.jdpicker_w .date_selector td.unselected_month {
  color: #ccc;
}
.jdpicker_w .date_selector td.selectable_day, .jdpicker_w .date_selector tr.selectable_week td {
  cursor: pointer;
  background-color: @near-white;
  color:#333
}
.jdpicker_w .date_selector td.selected, .jdpicker_w .date_selector tr.selected  td{
  background-color: lighten(@light-blue, 10%);
  font-weight: bold;
}
.jdpicker_w .date_selector tr.selectable_week.hover td, .jdpicker_w .date_selector td.selectable_day.hover {
  .vertical-gradient(@light-blue, @blue);
  color: white;
  .light-text-shadow;
}
