
.tree .tree-node .tree-node {
  margin-left: 20px;
}

.tree .collapsed .tree-node {
  display: none;
}

.tree .node-content {
  cursor: pointer;
}

.tree .node-content:HOVER {
  .rounded-corners(@smallcushion);
  background: @light-grey !important;
}

.tree .selected {
  .rounded-corners(@smallcushion);
  background: @light-blue;
}

.tree .node-icon, .node-name {
  padding: @smallcushion;
}

.tree .node-btn {
  padding: @smallcushion / 2;
  float: right;
  text-align: right;
  display: none;
}

.tree .node-content:HOVER .node-btn {
  display: block;
}

.tree .node-icon {
  float: left;
  background-image: url(/static/tni-open.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}

.tree .collapsed .node-icon { background-image: url(/static/tni-closed.png); }

.tree .leaf-node .node-icon { background-image: url(/static/tni-leaf.png); }

.tree .node-icon:HOVER { background-image: url(/static/tni-hover-open.png); }

.tree .collapsed .node-icon:HOVER { background-image: url(/static/tni-hover-closed.png); }

.tree .leaf-node .node-icon:HOVER { background-image: url(/static/tni-hover-leaf.png); }

