/* ---------- file: base.less -----------*/
/* Use this as a configuration file.  Set colors and other globally
 * used style configuration directives */
/* Colors moderate*/
/* Light colors */
/*#4484F2;*/
/* Greys */
/* Standard colors */
/* Detailings */
/* Borders
@borderradius : 2px;
@bordercolor  : @light-grey;  */
/* Font configuration */
body {
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}
.light-text-shadow {
  text-shadow: 0 0 1 #000000;
}
/*
 * Borders
 */
.border-std {
  border: 1px solid #888888;
}
.border-std-vert {
  border: 0;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}
.border-light {
  border: 1px solid #cccccc;
}
.border-high {
  border: 1px solid #0461c4;
}
/*
 * Backgrounds and images
 */
/*
 * Global definitions
 */
input[type="text"],
input[type="password"],
input[type="search"],
input[type="checkbox"],
input[type="radio"],
textarea {
  padding: 4px;
  border: 1px solid #888888;
  -moz-box-shadow: 0px 0px 0px 0px #ffffff;
  -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px 0px #ffffff;
}
input[readonly="readonly"] {
  color: #888888;
}
input[type="text"]:FOCUS,
input[type="password"]:FOCUS,
input[type="search"]:FOCUS,
input[type="checkbox"]:FOCUS,
input[type="radio"]:FOCUS,
textarea:FOCUS {
  border: 1px solid #0461c4;
}
input[readonly="readonly"]:FOCUS {
  border: 1px solid #888888;
}
.hidden {
  display: none !important;
}
/*
 * Styles for WDAT.ui.container
 */
.wdat-container {
  padding: 4px;
  background-color: #ffffff;
}
.wdat-container .buttons {
  float: right;
  height: 20px;
  vertical-align: middle;
}
.wdat-container .primary {
  height: 20px;
  vertical-align: middle;
  overflow: hidden;
}
.wdat-container .primary .head {
  font-size: 14px;
}
.wdat-container .primary .head-add {
  color: #888888;
  margin-left: 4px;
}
.wdat-container .secondary {
  padding-top: 6px;
  margin: 0;
}
.wdat-container .secondary dt {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0;
  padding: 2px 4px;
}
.wdat-container .secondary dd {
  display: block;
  margin: 0;
  padding: 2px 4px;
}
/* ---------- file: bread_crumb.less ---------- */
.wdat-bread-crumb {
  border: 1px solid #888888;
  padding: 4px;
  margin: 0;
}
/* ---------- file: button.less -----------*/
/* Mozilla specific to remove browser inconsistencies */button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  border-radius: 2px;
  border-width: 0px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 1.5px;
  margin-right: 1.5px;
}
.btnBig {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.btnBigHover {
  background-color: #aaaaaa;
  background-image: none;
}
button.button-big {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
button.button-big:hover {
  background-color: #aaaaaa;
  background-image: none;
}
.btnRed {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #bf2219;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e35149, endColorstr=#bf2219);
  background-image: -moz-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -ms-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -o-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #e35149), color-stop(100%, #bf2219));
}
.btnRedHover {
  background-color: #aaaaaa;
  background-color: #e35149;
  background-image: none;
}
.btnGreen {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #24850c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#42b027, endColorstr=#24850c);
  background-image: -moz-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -ms-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -o-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #42b027), color-stop(100%, #24850c));
}
.btnGreenHover {
  background-color: #aaaaaa;
  background-color: #42b027;
  background-image: none;
}
.btnBlue {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0461c4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6cb0eb, endColorstr=#0461c4);
  background-image: -moz-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -ms-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -o-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #6cb0eb), color-stop(100%, #0461c4));
}
.btnBlueHover {
  background-color: #aaaaaa;
  background-color: #6cb0eb;
  background-image: none;
}
.btnImage {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
.btnImageHover {
  background-color: #aaaaaa;
  background-repeat: no-repeat;
  background-position: center;
}
/* Define colored classes */
button.red {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #bf2219;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e35149, endColorstr=#bf2219);
  background-image: -moz-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -ms-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -o-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #e35149), color-stop(100%, #bf2219));
}
button.green {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #24850c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#42b027, endColorstr=#24850c);
  background-image: -moz-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -ms-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -o-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #42b027), color-stop(100%, #24850c));
}
button.blue {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0461c4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6cb0eb, endColorstr=#0461c4);
  background-image: -moz-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -ms-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -o-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #6cb0eb), color-stop(100%, #0461c4));
}
button.red:hover {
  background-color: #aaaaaa;
  background-color: #e35149;
  background-image: none;
}
button.green:hover {
  background-color: #aaaaaa;
  background-color: #42b027;
  background-image: none;
}
button.blue:hover {
  background-color: #aaaaaa;
  background-color: #6cb0eb;
  background-image: none;
}
/* Define functional classes */
button.button-add {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #24850c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#42b027, endColorstr=#24850c);
  background-image: -moz-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -ms-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -o-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #42b027), color-stop(100%, #24850c));
}
button.button-add:hover {
  background-color: #aaaaaa;
  background-color: #42b027;
  background-image: none;
}
button.button-del {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #bf2219;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e35149, endColorstr=#bf2219);
  background-image: -moz-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -ms-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -o-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #e35149), color-stop(100%, #bf2219));
}
button.button-del:hover {
  background-color: #aaaaaa;
  background-color: #e35149;
  background-image: none;
}
button.button-sel {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0461c4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6cb0eb, endColorstr=#0461c4);
  background-image: -moz-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -ms-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -o-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #6cb0eb), color-stop(100%, #0461c4));
}
button.button-sel:hover {
  background-color: #aaaaaa;
  background-color: #6cb0eb;
  background-image: none;
}
button.button-edit {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #0461c4;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#6cb0eb, endColorstr=#0461c4);
  background-image: -moz-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -ms-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -o-linear-gradient(top, #6cb0eb 0%, #0461c4 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #6cb0eb), color-stop(100%, #0461c4));
}
button.button-edit:hover {
  background-color: #aaaaaa;
  background-color: #6cb0eb;
  background-image: none;
}
/* Define functional small classes */
.btnSmall {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
/* Absolute URL. No leading or trailing slash */
button.button-add-small {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #888888;
  background-image: url('/site_media/static/button-add.png');
}
button.button-add-small:hover {
  background-color: #24850c;
  background-image: url('/site_media/static/button-add.png');
}
button.button-del-small {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #888888;
  background-image: url('/site_media/static/button-del.png');
}
button.button-del-small:hover {
  background-color: #bf2219;
  background-image: url('/site_media/static/button-del.png');
}
button.button-sel-small {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #888888;
  background-image: url('/site_media/static/button-star.png');
}
button.button-sel-small:hover {
  background-color: #0461c4;
  background-image: url('/site_media/static/button-star.png');
}
button.button-edit-small {
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  background-color: #888888;
  background-image: url('/site_media/static/button-edit.png');
}
button.button-edit-small:hover {
  background-color: #0461c4;
  background-image: url('/site_media/static/button-edit.png');
}
button.button-more-small {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #24850c;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#42b027, endColorstr=#24850c);
  background-image: -moz-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -ms-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -o-linear-gradient(top, #42b027 0%, #24850c 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #42b027), color-stop(100%, #24850c));
  padding: 6px;
  height: 12px;
  width: 12px;
}
button.button-more-small:hover {
  background-color: #aaaaaa;
  background-color: #42b027;
  background-image: none;
  padding: 6px;
  height: 12px;
  width: 12px;
}
button.button-less-small {
  color: #ffffff;
  background-color: #888888;
  text-shadow: 0 0 1 #000000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#aaaaaa, endColorstr=#888888);
  background-image: -moz-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -ms-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -o-linear-gradient(top, #aaaaaa 0%, #888888 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #aaaaaa), color-stop(100%, #888888));
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #bf2219;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#e35149, endColorstr=#bf2219);
  background-image: -moz-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -ms-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -o-linear-gradient(top, #e35149 0%, #bf2219 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #e35149), color-stop(100%, #bf2219));
  padding: 6px;
  height: 12px;
  width: 12px;
}
button.button-less-small:hover {
  background-color: #aaaaaa;
  background-color: #e35149;
  background-image: none;
  padding: 6px;
  height: 12px;
  width: 12px;
}
/* Styles for new buttons */
/* TODO remove old definitions after replacing the old button class with the new one */
/* Adapt jQuery UI buttons */
.ui-button .ui-button-text {
  line-height: 1.2;
  padding-top: .3em;
  padding-bottom: 0.3em;
}
.ui-button-text-only .ui-button-text {
  padding: .3em 1em;
}
button.ui-button-icon-only,
.ui-button-icon-only {
  width: 20px;
  height: 20px;
}
/* ---------- file: form.css -----------*/
.wdat-form {
  padding-top: 4px;
  padding-bottom: 4px;
  width: 600px;
}
.wdat-form .fieldset {
  display: table;
}
.wdat-form .field,
.wdat-form .error {
  display: table-row;
}
.wdat-form .field-label {
  width: 120px;
  display: table-cell;
  vertical-align: top;
  padding: 8px 6px;
}
.wdat-form .field-input,
.wdat-form .field-error {
  display: table-cell;
  vertical-align: center;
  padding: 4px 6px;
}
.wdat-form input[type=checkbox] {
  margin: 6px 0;
}
.wdat-form input.fixed-width,
.wdat-form textarea.fixed-width {
  width: 460px;
}
.wdat-form .buttonset {
  padding: 4px 5px;
  text-align: right;
}
.wdat-form .error,
.wdat-form .errorset {
  color: red;
}
/* ---------- file: list.css -----------*/
.wdat-list {
  overflow-y: auto;
  border-spacing: 0px;
}
.wdat-list ul {
  list-style-type: none;
  margin: 6px 0;
  padding: 0;
}
.wdat-list .wdat-container {
  border: 1px solid #888888;
  border-radius: 2px;
  margin: 2px;
}
.wdat-list .wdat-container .buttons {
  display: none;
}
.wdat-list .wdat-container:HOVER {
  background: #dddddd !important;
}
.wdat-list .wdat-container:HOVER .buttons {
  display: block !important;
}
.wdat-list .selected {
  background: #6cb0eb;
}
.wdat-list .selected:HOVER {
  background: #cddef3 !important;
}
.wdat-list .category {
  display: block;
  padding: 0;
  height: 22px;
}
.wdat-list .category .category-name {
  margin: 0px 0px 0px 2px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
}
.wdat-list .category .wdat-button {
  margin: 0px 8px 0px 0px;
  display: block;
  float: right;
}
/* ------------------- file: search_bar.less ---------------------- */
.wdat-search {
  display: table;
}
.wdat-search .top-row,
.wdat-search .bottom-row {
  display: table-row;
}
.wdat-search .search-field,
.wdat-search .activate-btn {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.wdat-search .search-field textarea,
.wdat-search .activate-btn textarea {
  width: 100%;
}
.wdat-search .search-field input,
.wdat-search .activate-btn input {
  margin: 8px 4px 0px 0px;
}
.wdat-search .search-btn,
.wdat-search .compose-btn {
  display: table-cell;
  vertical-align: middle;
  width: 90;
}
.wdat-search .search-btn button,
.wdat-search .compose-btn button {
  margin-left: 6px;
}
.wdat-search .search-field,
.wdat-search .search-btn {
  padding: 6px 4px 0 4px;
}
.wdat-search .activate-btn,
.wdat-search .compose-btn {
  padding: 0 4px 6px 4px;
}
/* ---------- file: section_view.less -----------*/
.section-container h1 {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.section-container .section {
  display: table;
  padding: 0 12px;
}
.section-container .section .field {
  display: table-row;
}
.section-container .section .field-name {
  display: table-cell;
  font-weight: bold;
  padding: 2px 4px;
}
.section-container .section .field-val {
  display: table-cell;
  padding: 2px 4px;
}
.property-container .secondary {
  display: table;
  padding: 0;
}
.property-container .secondary .field {
  display: table-row;
}
.property-container .secondary .field-name {
  display: table-cell;
  font-weight: bold;
  padding: 2px 6px;
}
.property-container .secondary .field-val {
  display: table-cell;
  padding: 2px 4px;
}
/* ---------- file: tab_folder.less ---------- */
.wdat-tab-folder {
  padding: 0;
}
.wdat-tab-folder .tab-navigation {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  margin: 0px;
  background-color: #dddddd;
  font-size: 14px;
  list-style: none;
  display: block;
}
.wdat-tab-folder div.tab-content {
  display: none;
}
.wdat-tab-folder div.selected {
  border: 1px solid #888888;
  display: block;
}
.wdat-tab-folder .tab-navigation li {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid #888888;
  border-right: 1px solid #888888;
  border-bottom: 1px solid #888888;
  display: inline;
  cursor: pointer;
}
.wdat-tab-folder .tab-navigation li:FIRST-CHILD {
  border-left: 1px solid #888888;
}
.wdat-tab-folder .tab-navigation li.selected {
  border-bottom: 1px solid #ffffff;
  background-color: #ffffff;
}
.wdat-tab-folder .tab-navigation li span {
  text-decoration: none;
  margin: 0px;
}
/* ---------- file: tree.less ---------- */
.wdat-tree .tree-node .tree-node {
  margin-left: 20px;
}
.wdat-tree .collapsed .tree-node {
  display: none;
}
.wdat-tree .wdat-container {
  cursor: pointer;
}
.wdat-tree .wdat-container .buttons {
  display: none;
}
.wdat-tree .wdat-container:HOVER {
  border-radius: 2px;
  background: #aaaaaa !important;
}
.wdat-tree .wdat-container:HOVER .buttons {
  display: block !important;
}
.wdat-tree button {
  margin-right: 1px;
}
.wdat-tree .selected {
  border-radius: 2px;
  background: #6cb0eb;
}
.wdat-tree .node-icon,
.wdat-tree .node-name {
  padding: 4px;
}
.wdat-tree .node-icon {
  float: left;
  background-image: url(/site_media/static/tni-open.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
}
.wdat-tree .collapsed .node-icon {
  background-image: url(/site_media/static/tni-closed.png);
}
.wdat-tree .leaf-node .node-icon {
  background-image: url(/site_media/static/tni-leaf.png);
}
.wdat-tree .node-icon:HOVER {
  background-image: url(/site_media/static/tni-hover-open.png);
}
.wdat-tree .collapsed .node-icon:HOVER {
  background-image: url(/site_media/static/tni-hover-closed.png);
}
.wdat-tree .leaf-node .node-icon:HOVER {
  background-image: url(/site_media/static/tni-hover-leaf.png);
}
/* ---------- file: application.less -----------*/
body {
  background-color: #dddddd;
}
div.head,
div.nav {
  border: 1px solid black;
}
.head {
  height: 100px;
  margin: 6px;
}
.nav {
  height: 32px;
  margin: 6px;
}
.nav .nav-buttons {
  margin: auto;
}
.main {
  margin: 6px;
  /* MOVE THE FOLLOWING DEFINITIONS TO OTHER FILES*/

}
.main .left {
  float: left;
  width: 280px;
  min-height: 200px;
  /* remove?*/

}
.main .right {
  float: right;
  width: 280px;
  min-height: 200px;
  /* remove?*/

}
.main .center {
  min-height: 200px;
  /* remove?*/

  margin: 0 286px;
}
.main #sel-data-view {
  margin-top: 6px;
}
.main #data-list,
.main #main-content {
  margin: 6px 0;
}
/* ---------- file: section_view.less -----------*/
.wdat-data-view .wdat-bread-crumb {
  border: 0;
  border-bottom: 1px solid #888888;
}
/* ---------- file: selected_value_view.less ---------- */
.wdat-file-view {
  background-color: #ffffff;
}
/* file metadata_tree.less */
.wdat-metadata-tree {
  max-width: 280px;
  background-color: #ffffff;
}
.wdat-metadata-tree h1 {
  border: 1px solid grey;
  border-bottom: 0;
  padding: 6px;
  font-size: 18px;
  margin: 0;
}
.wdat-metadata-tree .wdat-tree {
  border: 1px solid grey;
  overflow: auto;
  height: 400px;
  /* remove width and height */

}
/* ---------- file: selected_data_view.less ---------- */
.wdat-metadata-view {
  background-color: #ffffff;
  overflow: auto;
}
/* ---------- file: search_view.less ---------- */
.wdat-search-view {
  height: 109px;
  background-color: #ffffff;
}
.wdat-search-view h1 {
  border: 1px solid grey;
  border-bottom: 0;
  padding: 6px;
  font-size: 18px;
  margin: 0;
}
.wdat-search-view .wdat-search {
  border: 1px solid grey;
}
/* ---------- file: selected_data_view.less ---------- */
.wdat-selected-data-view {
  background-color: #ffffff;
}
.wdat-selected-data-view h1 {
  border: 1px solid grey;
  border-bottom: 0;
  padding: 6px;
  font-size: 18px;
  margin: 0;
}
.wdat-selected-data-view .wdat-list {
  border: 1px solid grey;
}
/* ---------- file: selected_value_view.less ---------- */
.wdat-selected-value-view {
  background-color: #ffffff;
}
.wdat-selected-value-view h1 {
  border: 1px solid grey;
  border-bottom: 0;
  padding: 6px;
  font-size: 18px;
  margin: 0;
}
.wdat-selected-value-view .wdat-list {
  border: 1px solid grey;
}
