{% extends "test/test_base.html" %}

{% block title %}EventBus Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  "use strict";
  var init = function() {
    var bus = new WDAT.Bus();
    var log = $(".event-log").first();

    var fn = function(event, args){ log.append("<p>event fired: " + args + "</p>"); };

    var uid = bus.uid();
    bus.subscribe("foo", fn, uid);
    $(".event-1").first().click(function() { bus.publish("foo", "event 1 data", uid);});

    uid = bus.uid();
    bus.subscribe("foo", fn, uid);
    $(".event-2").first().click(function() { bus.publish("foo", "event 2 data", uid);});
  };
  $(window).load(init);
</script>
{% endblock %}

{% block body %}
<h1>EventBus Test</h1>
<div>
   <a href="#" class="event-1">Event 1</a> |
   <a href="#" class="event-2">Event 2</a>
</div>
<div class="event-log">
</div>
{% endblock %}
