{% extends "test/test_base.html" %}

{% block title %}Form Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  var init = function() {
    var actions = ['cancel', 'submit'];
    var fields = {
      'your-name': 'text',
      'your-password': 'password',
      'day-of-birth': 'date',
      'text': 'textarea'
    };
    var bus = new WDAT.api.EventBus();
    var form = new WDAT.api.VForm($('#form01'), bus, fields);
    
    var form2 = new WDAT.api.VForm('form02', bus, fields, 'save', true);

    var showbtn = $("#button01").button({text: true, label: "Show Form"});
    showbtn.click(function() { form2.open(); console.log("show pushed") });
  };
  $(window).load(init);
</script>
{% endblock %}

{% block body %}
<h1>Form Test</h1>
<div>
<div id="form01" style="border: 1px solid grey"></div>
<button id="button01"></button>
</div>
<div class="event-log">
</div>
{% endblock %}