{% extends "test/test_base.html" %}

{% block title %}List Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
var init = function() {
  var bus = new WDAT.api.EventBus(); 
  var list = new WDAT.ui.List($('#list-1'), bus, ['add', 'del', 'sel', 'edit', 'more'], ['Foo', 'Bar']);
  bus.subscribe(list.events.sel, list.selectHandler());
  bus.subscribe(list.events.more, list.expandHandler());
  bus.subscribe(list.events.del, list.removeHandler());
  bus.subscribe(list.events.edit, list.editHandler());
  list.add({name: 'Test1', info: 'Some information 1', data: 'Some data 1'}, 'Foo');
  list.add({name: 'Test2', info: 'Some information 2', data: 'Some data 2'}, 'Foo');
  list.add({name: 'Test3', info: 'Some information 3', data: 'Some data 3'}, 'Bar');
  list.add({name: 'Test4', info: 'Some information 4', data: 'Some data 4'}, 'Bar');
  list.add({name: 'Test5', info: 'Some information 5', data: 'Some data 5'});
  bus.subscribe(list.events.add, function(event, data) {
    var elements = [{name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'},
                    {name: 'Test', info: 'Info', data: 'Data'}];
    list.addAll(elements, data.id);
  });
};
$(window).load(init);
</script>
{% endblock %}

{% block body %}
<h1>List Test</h1>
<div id="list-1">
</div>
<div class="event-log"></div>
{% endblock %}
