{% extends "test/test_base.html" %}

{% block title %}Metadata Tree Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  var init = function() {
    var selEvent = 'pmeta-select';
    var bus = new WDAT.Bus(); 
    var api = new WDAT.DataAPI('NetworkResource', 'ResourceAdapter', bus);
    var pmeta = new WDAT.MetadataTree($('#tree-1'), api, bus, selEvent);
    bus.subscribe(selEvent, logSelection);
    pmeta.load();
    function logSelection(event, data) {
      var logMsg = "Selection: " + JSON.stringify(data) + "\n";
      $('.event-log').append(logMsg);
      console.log(logMsg);
    }
  };
  $(window).load(init);
</script>
{% endblock %}

{% block body %}
<h1>Metadata Tree Test</h1>
<div id="tree-1" style="">
</div>
<h1>Log</h1>
<p>
<pre class="event-log"></pre>
</p>
{% endblock %}
