{% extends "test/test_base.html" %}

{% block title %}Bread Crumb Navigation Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
  var init = function() {
    var bus = new wdat.Bus(); 
    var bcn = new wdat.BreadCrumb($('#bcn-1'), bus);
    bus.subscribe(bcn.action, function(event, data) { 
      $('.event-log').append(bcn.action + ': ' + JSON.stringify(data)).append('<br>'); 
    });
    bcn.add({id: 'one', name: 'One'});
    bcn.add({id: 'two', name: 'Two'});
    bcn.add({id: 'three', name: 'Three'});
  };
  $(window).load(init);
</script>
{% endblock %}

{% block body %}
  <h1>Bread Crumb Navigation Test</h1>
  <div id="bcn-1"></div><br>
  <div class="event-log"></div>
{% endblock %}
