{% extends "test/test_base.html" %}

{% block title %}Button Test{% endblock %}
{% block extra_script %}
    <script type="text/javascript">

        window.onload = function () {
            require(['main'], function () {
                window.run = {};
                // load
                window.Bus = require('api/bus');
                window.Button = require('ui/button');

                run.bus = new Bus();
                run.log = function (event, args) {
                    $(".event-log").first().append("<p>event fired: " + args + "</p>");
                };
                run.bus.subscribe('button-event', run.log);

                run.buttons = [];

                // the button container element
                var cont = $('.button-container');

                cont.append($('<h3>Predefined buttons</h3>'));

                var b = new Button(null, 'add', run.bus, 'button-event', 'Adding');
                cont.append(b.jq()); run.buttons.push(b); run.buttons.push(b);

                b = new Button(null, 'del', run.bus, 'button-event', 'Deleting');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'sel', run.bus, 'button-event', 'Selecting');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'edit', run.bus, 'button-event', 'Editing');
                cont.append(b.jq()); run.buttons.push(b);


                cont.append($('<h3>Predefined small buttons</h3>'));

                b = new Button(null, 'add_small', run.bus, 'button-event', 'Small adding');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'del_small', run.bus, 'button-event', 'Small deleting');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'sel_small', run.bus, 'button-event', 'Small selecting');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'edit_small', run.bus, 'button-event', 'Small editing');
                cont.append(b.jq()); run.buttons.push(b);
                b = new Button(null, 'acl_small', run.bus, 'button-event', 'Small permissions');
                cont.append(b.jq()); run.buttons.push(b);

                cont.append($('<h3>Event system checks</h3>'));

                b = new Button(null, 'Should create an alert', run.bus, function () {
                    alert('And, it does!');
                }, 'blue');
                cont.append(b.jq()); run.buttons.push(b);

                b = new Button(null, 'Should publish an event', run.bus, 'button-event', 'And it does!');
                cont.append(b.jq()); run.buttons.push(b);

                b = new Button(null, 'Should do nothing', run.bus, null);
                cont.append(b.jq()); run.buttons.push(b);


                cont.append($('<h3>Toggle buttons</h3>'));

                b = new Button(null, 'more', run.bus, 'button-event', 'More/Less');
                cont.append(b.jq()); run.buttons.push(b);

            });
        };
    </script>
{% endblock %}
{% block body %}
    <h1>Button Test</h1>

    <div style="padding-left: 20px">
        <div class="button-container"></div>
    </div>

    <h3>Events Logger</h3>
    <div class="event-log" style="padding-left: 40px">

    </div>
{% endblock %}
