{% extends "test/test_base.html" %}

{% block title %}DataAPI Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        window.onload = function () {
            require(['main'], function () {
                window.run = {};
                // load
                window.Bus = require('api/bus');
                window.DataAPI = require('api/data_api');

                run.bus = new Bus();
                run.api = new DataAPI(run.bus);

                window.callback = function (b) {
                    console.log("DONE!!");
                    window.result = b;
                };

                /* log */
                run.log =  $('.event-log');
                run.logHandler = function(event, data) {
                    run.log.text("")
                    run.log.append("\nTest action: " + data.action + "\n");
                    run.log.append("Test response: " + JSON.stringify(data, null, 4));
                };

                /* request object(s) from DataAPI by URL */
                run.requestByUrl = function() {
                    var url = $('#url').val();
                    if (url)
                        run.api.getByURL('data-api', url);
                };

                /* request object(s) from DataAPI by search parameter */
                run.requestBySpecifier = function() {
                    var param = $('#param').val();
                    if (param) {
                        param = JSON.parse(param);
                        run.api.get('data-api', param);
                    }
                };

                /* request object(s) from DataAPI with data */
                run.requestWithData = function() {
                    var param = $('#data').val();
                    if (param) {
                        param = JSON.parse(param);
                        run.api.getData('data-api', param['url'], param['options']);
                    }
                };

                /* request object(s) from DataAPI with data */
                run.updateACL = function() {
                    var param = $('#acls').val();
                    if (param) {
                        param = JSON.parse(param);
                        run.api.setACL('data-api', param);
                    }
                };

                run.bus.subscribe('data-api', run.logHandler);
                $('#get-by-url').click(run.requestByUrl);
                $('#get-by-param').click(run.requestBySpecifier);
                $('#get-with-data').click(run.requestWithData);
                $('#update-acl').click(run.updateACL);
            });
        };

    </script>
{% endblock %}

{% block body %}
    <h1>DataAPI Test</h1>
    <h2>Request object(s) by URL:</h2>
    <p>
        Examples:
    </p>
    <pre>
        /metadata/section/1
        /electrophysiology/block/1
        /electrophysiology/segment/1
    </pre>
    <p>
        <input type="text" size="80" id="url">&nbsp;
        <button id="get-by-url">GET</button>
    </p>

    <h2>Request object(s) by search parameter:</h2>
    <p>
        Examples:
    </p>
    <pre>
        {"id": "/metadata/section/1"}
        {"id": 1, "type": "section"}
        {"type": "section", "parent": "/metadata/section/1"}
        {"type": "analogsignal", "name":"FIX Signal-995"}
    </pre>
    <p>
        <input type="text" size="80" id="param">&nbsp;
        <button id="get-by-param">GET</button>
    </p>

    <h2>Request object(s) with data:</h2>
    <p>
        Examples:
    </p>
    <pre>
        {"url": "/neo/analogsignal/17", "options": {"max_points": null, "start": 0.0, "end": 1.0}}
        {"url": "/neo/spiketrain/5", "options": {"max_points": null, "start": null, "end": null}}
    </pre>
    <p>
        <input type="text" size="80" id="data">&nbsp;
        <button id="get-with-data">GET</button>
    </p>

    <h2>Update object's ACL:</h2>
    <p>
        Examples:
    </p>
    <pre>
            {"id": "/neo/analogsignal/17", "safety_level": 1}
            {"id": "/neo/spiketrain/5", "safety_level": 3, "shared_with": {"anita": 1}}
            {"id": "/neo/section/3", "shared_with": null}
    </pre>
    <p>
        <input type="text" size="80" id="acls">&nbsp;
        <button id="update-acl">POST</button>
    </p>

    <h1>Log</h1>
    <pre class="event-log"></pre>

{% endblock %}
