{% extends "test/test_base.html" %}

{% block title %}Form Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        window.onload = function () {
            require(['main'], function () {

                window.run = {};

                // load
                window.Bus     = require('api/bus');
                window.DataAPI = require('api/data_api');
                window.Form    = require('ui/form');

                run.bus  = new Bus();
                run.api  = new DataAPI(run.bus);

                var fields = {
                    'id': {
                        type: 'hidden',
                        value: '1'
                    },
                    'your-name': {
                        type: 'text',
                        min: 3,
                        max: 10,
                        obligatory: true
                    },
                    'your-age': {
                        type: 'int',
                        value: 10,
                        readonly: true
                    },
                    'your-password': {
                        type: 'password',
                        min: 4,
                        max: 12,
                        obligatory: true
                    },
                    'day-of-birth': {
                        type: 'date',
                        obligatory: true
                    },
                    'satisfied': {
                        type: 'boolean'
                    },
                    'vavorite-pizza': {
                        type: 'option',
                        options: { funghi: "Pizza Funghi", salami: "Pizza Salami", vegi: "Vegi Pizza"}
                    },
                    'text': {
                        type: 'ltext'
                    }
                };

                run.f01 = new Form($('#form01'), run.bus, ['save'], fields);
                run.f01.set({});
                run.bus.subscribe(run.f01.event('save'), doSave);


                run.f_section = new Form('form-section', run.bus, ['save'], 'section', true);
                run.btn_section = $("#btn-section").button({text: true});
                run.btn_section.click(function () {
                    var id = $('#input-section').val();
                    console.log('REQUEST section: ' + id);
                    run.api.get('get-section', {"id": id, "type": "section"});
                });
                run.bus.subscribe('get-section', doGetSection);

                run.f_property = new Form('form-property', run.bus, ['save'], 'property', true);
                run.btn_property = $("#btn-property").button({text: true});
                run.btn_property.click(function () {
                    var id = $('#input-property').val();
                    console.log('REQUEST property: ' + id);
                    run.api.get('get-property', {"id": id, "type": "property"});
                });
                run.bus.subscribe('get-property', doGetProperty);


                function doSave(event, data) {
                    console.log('EVENT save: ' + JSON.stringify(data));
                }

                function doGetSection(event, data) {
                    console.log('EVENT get-section: ' + JSON.stringify(data));
                    run.f_section.set(data.primary[0]);
                    run.f_section.open();
                }

                function doGetProperty(event, data) {
                    console.log('EVENT get-property: ' + JSON.stringify(data));
                    run.f_property.set(data.primary[0]);
                    run.f_property.open();
                }

            });
        };
    </script>
{% endblock %}

{% block body %}
    <h1>Form Test</h1>
    <div>
        <div id="form01" style="border: 1px solid grey"></div>
    </div>
    <div>
        <button id="btn-section">Show Section</button>
        <span>/metadata/section/</span>
        <input type="text" value="1" id="input-section">
    </div>
    <div>
        <button id="btn-property">Show Property</button>
        <span>/metadata/property/</span>
        <input type="text" value="1" id="input-property">
    </div>
    <div class="event-log">
    </div>
{% endblock %}
