{% extends "test/test_base.html" %}

{% block title %}List Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        window.onload = function () {
            require(['main'], function () {
                var id = 1;

                window.run = {};
                // load
                window.Bus  = require('api/bus');
                window.Widget = require('ui/widget');
                window.MultiContainer = require('ui/multi_container');
                window.List = require('ui/list');

                run.bus = new Bus();
                run.list = new List($('#list-1'), run.bus, ['sel', 'add', 'edit', 'del'], ['bla', 'bar'])

                run.bus.subscribe(run.list.event('sel'), run.list.selHandler());
                run.bus.subscribe(run.list.event('del'), run.list.delHandler());

                run.list.add({id: id++, name: 'Test1', type: 'section', fields: {odml_type: 'foo'}});
                run.list.add({id: id++, name: 'Test2', type: 'section', fields: {odml_type: 'foo'}}, 'bla');
                run.list.add({id: id++, name: 'Test3', type: 'section', fields: {odml_type: 'foo'}}, 'bar');
                run.list.add({id: id++, name: 'Test4', type: 'section', fields: {odml_type: 'foo'}}, 'bar');
                run.list.add({id: id++, name: 'Test5', type: 'section', fields: {odml_type: 'foo'}});
                run.list.add({id: id++, name: 'Test6', type: 'section', fields: {odml_type: 'foo'}}, 'foo-bar');
            });
        };
        /*
         var init = function() {
         var bus = new wdat.Bus();
         var list = new wdat.List($('#list-1'), bus, ['add', 'del', 'sel', 'more'], ['bla', 'bar']);
         bus.subscribe(list.event('sel'), list.selHandler());
         bus.subscribe(list.event('del'), list.delHandler());
         list.add({name: 'Test1', info: 'Some information 1', data: 'Some data 1'}, 'bla');
         list.add({name: 'Test2', info: 'Some information 2', data: 'Some data 2'}, 'bla');
         list.add({name: 'Test3', info: 'Some information 3', data: 'Some data 3'}, 'bar');
         list.add({name: 'Test4', info: 'Some information 4', data: 'Some data 4'}, 'bar');
         list.add({name: 'Test5', info: 'Some information 5', data: 'Some data 5'});
         list.add({name: 'Test6', info: 'Some information 6', data: 'Some data 6'}, 'foo-bar');
         bus.subscribe(list.event('add'), function(event, data) {
         var elements = [{name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'},
         {name: 'Test', info: 'Some information', data: 'Some data'}];
         list.addAll(elements, data.id);
         });
         };
         $(window).load(init);
         */
    </script>
{% endblock %}

{% block body %}
    <h1>List Test</h1>
    <div id="list-1">
    </div>
    <div class="event-log"></div>
{% endblock %}
