{% extends "test/test_base.html" %}

{% block title %}SectionContainer Test{% endblock %}

{% block extra_script %}
<script type="text/javascript">
    var init = function() {
        var bus = new wdat.Bus();
        var api = new wdat.DataAPI('NetworkResource', 'ResourceAdapter', bus);
        var sec = new wdat.MetadataView($('#sec'), api, bus, 'select-section');

        /* Create section form and edit a selectable section */
        var btn_section  = $("#btn-section").button({text: true});
        btn_section.click( function() {
            var id = $('#input-section').val();
            bus.publish('select-section', {id: id});
        });

        function handleRequestEvents(event, data) {
            var section;
            var properties = [];
            for (var i in data.response) {
                var elem = data.response[i];
                if (elem.type == 'section') {
                    section = elem;
                } else if (elem.type == 'property') {
                    var p = {property: elem, values: []};
                    for (var j in elem.children.value_set) {
                        var v = elem.children.value_set[j]
                        p.values.push(data.response[v]);
                    }
                    properties.push(p);
                }
            }
            if (section) {
                sec.set(section);
                for (var j in properties) {
                    var p = properties[j].property;
                    var v = properties[j].values
                    var cont = new wdat.PropertyContainer(p.id, bus, contActions);
                    cont.set(p);
                    cont.setChildren(v);
                    list.addContainer(cont, 'properties');
                }
            }
            log(properties);
        }

        function log(d) {
            var l = $('.event-log');
            l.empty();
            l.text(JSON.stringify(d, null, 4));
        }
    };
    $(window).load(init);
</script>
{% endblock %}

{% block body %}
<h1>SectionContainer Test</h1>
<div>
    <button id="btn-section">Show Section</button>
    <span>/metadata/section/</span>
    <input type="text" value="12" id="input-section">
</div>
<div style="border: 1px solid grey">
    <div id="sec"></div>
</div>
<pre class="event-log"></pre>
{% endblock %}
