{% extends "test/test_base.html" %}

{% block title %}Metadata Tree Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

        window.onload = function () {
            require(['main'], function () {
                window.run = {};
                window.run.sel = 'pmeta-select';
                // load
                window.Bus = require('api/bus');
                window.DataAPI = require('api/data_api');
                window.MetadataTree = require('app/metadata_tree');

                run.bus = new Bus();
                run.api = new DataAPI(run.bus);
                run.tree = new MetadataTree($('#tree-1'), run.api, run.bus, run.sel);
                run.tree.load();

                run.log = function(event, data) {
                    var logMsg = "Selection: " + JSON.stringify(data) + "\n";
                    $('.event-log').empty().append(logMsg);
                };
                run.bus.subscribe(run.sel, run.log);
            });
        };

    </script>
{% endblock %}

{% block body %}
    <h1>Metadata Tree Test</h1>
    <div id="tree-1" style="">
    </div>
    <h1>Log</h1>
    <p>
    <pre class="event-log"></pre>
    </p>
{% endblock %}
