{% extends "test/test_base.html" %}

{% block title %}Search Bar Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        window.onload = function () {
            require(['main'], function () {

                window.run = {};
                // load
                window.Bus  = require('api/bus');
                window.SearchBar = require('ui/search_bar');

                run.bus = new Bus();
                run.list = new SearchBar($('#search'), run.bus);

            });
        };
    </script>
{% endblock %}

{% block body %}
    <h1>Search Bar Test</h1>
    <div class="container">
        <div id="search">

        </div>
    </div>
    <h3>Event Log</h3>
    <div class="event-log"></div>
{% endblock %}
