{% extends "test/test_base.html" %}

{% block title %}Search Bar Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">
        window.onload = function() {
            $('#active-btn').buttonset();
            $('#search-btn').button();
        }
    </script>
{% endblock %}

{% block body %}
    <h1>Search Bar Test</h1>
    <div class="container">
        <div id="search" class="wdat-search">
            <div class="search-right">
                <!--<label for="select-type">Type:</label>-->
                <select id="select-type" class="ui-button ui-widget ui-state-default ui-corner-all">
                    <option value='block'>Block</option>
                    <option value='analogsignal'>Analogsignal</option>
                </select>
                <button id="search-btn">Search</button>
            </div>
            <div class="search-left">
                <!--<label for="search-field">Search:</label>-->
                <input type="text" id="search-field">
            </div>
        </div>
    </div>
    <h3>Event Log</h3>
    <div class="event-log"></div>
{% endblock %}
