{% extends "test/test_base.html" %}

{% block title %}Search Bar Test{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block body %}
    <h1>Search Bar Test</h1>
    <div class="container">
        <div id="search" class="wdat-search">
            <div class="search-top">
                <label name="search-field">Search:</label>
                <input type="text" id="search-field">
                <label name="select-type">Type:</label>
                <select id="select-type">
                    <option value='block'>Block</option>
                    <option value='analogsignal'>Analogsignal</option>
                </select>
            </div>
            <div class="search-top">
                <div id="active-btn">
                    <input type="radio" id="active" name="radio" checked="checked" /><label for="radio1">Active</label>
                    <input type="radio" id="inactive" name="radio"/><label for="radio2">Inactive</label>
                </div>
                <button id="search-btn">Search</button>
            </div>
        </div>
    </div>
    <h3>Event Log</h3>
    <div class="event-log"></div>
{% endblock %}
