<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/crayon.css"/>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
    <script type="text/javascript" data-main="{{ STATIC_URL }}/main" src="{{ STATIC_URL }}js/require.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>-->
    {% block extra_script %}
        <script type="text/javascript">

            window.onload = function() {
                require(['main'], function() {
                    // load
                    var DataAPI = require('api/data_api');
                    var a = new DataAPI();
                    console.log(a.bla());
                });
            }
        </script>
    {% endblock %}
    <style type="text/css">
        /* test specific styles */
        .test-container {
            border: 1px solid grey;
            margin: 4px 4px 4px 238px;
        }
        .test-nav {
            background-color: white;
            border: 1px solid grey;
            margin: 0px 4px 4px;
            padding: 4px;
            float: left;
            min-height: 400px;
            width: 220px;
        }
    </style>
</head>
<body>
<div class="test-container test-nav">
    <h1>Test Navigation</h1>
    <p>
        {% for f in files %}<a href="{{ f }}">{{ f }}</a><br>
        {% endfor %}
    </p>
</div>
<div class="test-container">
    {% block body %}<h1>Select a Test</h1>{% endblock %}
</div>
</body>
</html>
