{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}
{% load uni_form %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block contentdiv_class %}welcome{% endblock %}

{% block body %}
    <div class="newsbox">
    <h2>{% trans "Welcome to the G-Node" %}</h2>
    
    <p>
        {% blocktrans %}
Here you can access the data management and data sharing platform of the German Neuroinformatics Node. This service is provided for neuroscientists to facilitate data access, data storage, data analysis and data sharing.You may store and organize your data, exchange data with collaborators, search for published data or scientists with similar interests.
        {% endblocktrans %}
    </p>

    <div style="padding-left: 10px;">
    <form class="login uniForm" method="POST" action="">
        <fieldset class="inlineLabels">
            <div class="form_block">
                <a href="{% url acct_passwd_reset %}">{% trans "Forgot password?" %}</a>
            </div>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="{% trans "Log in &raquo;" %}" />
            </div>
        </fieldset>
    </form>
    </div>

    {% ifsetting ACCOUNT_OPEN_SIGNUP %}
    {% url acct_signup as signup_url %}
    <p>
        {% blocktrans %}
         No account yet? <a href="{{ signup_url }}">Sign up!</a>
        {% endblocktrans %}
    </p>
    {% endifsetting %}

    <p>
        {% blocktrans %}
        For more information about G-Node, see
        <a href="http://www.g-node.org/">http://www.g-node.org/</a>.
        {% endblocktrans %}
    </p>
    </div>  
    
    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="center what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p  class="center">{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p  class="center">{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}

     
{% endblock %}
{% block extra_body %}
<script>
    $("#id_username").focus();
</script>
{% endblock %}
