{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to the G-Node" %}</h1>
    
    <p>
        {% blocktrans %}
The global scale of neuroinformatics offers unprecedented opportunities 
for scientific collaborations between and among experimental and theoretical 
neuroscientists. This site was developed to fully harvest these possibilities,
 and to improve key ingredients of neuroscience: data access, data 
storage, and data analysis. It's free and easy to sign up.
        {% endblocktrans %}
    </p>
    
    
    <div class="newsbox">
    <h2>{% trans "About this project" %}</h2>
    
    <p>
        {% blocktrans %}
        This project is developed for neuroscientists to provide them with 
a useful service of their experimental data- and metadata- management. Here you may
search for people with similar thesis, look for published experiments, participate in projects and meet people from 
other labs. It provides secured way of data storage, regular back-ups and user-to-user messaging.
        {% endblocktrans %}
    </p>
    
    <p>
        {% blocktrans %}
        For more information about G-Node, see
        <a href="http://www.g-node.org/">http://www.g-node.org/</a>.
        {% endblocktrans %}
    </p>
    </div>  
    
    <hr />
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="center what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p  class="center">{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p  class="center">{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}

     
{% endblock %}

