/* ---------- file: form.css -----------*/

.form-view {
  .vertical-padding(@cushioning);
  width: 500px;
}

.form-view label {
  text-align: right;
  display: inline-block;
  /*float: left;*/
  margin: @smallcushion @smallcushion @smallcushion 0px;
  width: 120px;
}

.form-view input, textarea {
  display: inline-block;
  margin: @smallcushion 0px;
}

.form-view .form-fields {
  padding: 0px;
  margin: 0px;
  border: 0;
}

.form-view input.fixed-width, textarea.fixed-width {
  width: 360px;
}

.form-view .field-error {
  color: red;
  margin-left: @smallcushion + 120px;
}

.form-btn { 
  text-align: right;
  margin: @smallcushion;
}

