{% extends "datafiles/base.html" %}

{% load i18n %}

{% block extra_head %}
    <link type="text/css" rel="stylesheet" href="UploadPage.css">
    <script type="text/javascript" language="javascript" src="uploadpage/uploadpage.nocache.js"></script>
{% endblock %}

{% block head_title %}{% blocktrans %}New files upload{% endblocktrans %}{% endblock %}
{% block subnavi1_class %}aktiv{% endblock %}

{% block body %}

    <!-- OPTIONAL: include this if you want history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    
    <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>

    {% if user.is_authenticated %}
    <h1>{% trans "Upload Files" %}</h1>

        <p>Here you can upload your data. You can upload several files at once; files will be uploaded one by one.</p>

        <div id="default" class="upldContainer"></div>

        <p id="thumbnails" class="thumbsContainer"></p>
    {% else %}
        {% url acct_signup as signup_url %}
        {% url acct_login as login_url %}
        <p>{% blocktrans %}<a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">log in </a> to upload and share your own files.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

